{% extends "app/layout.html" %}

{% block content %}

<h2>{{ Foxtrot }}.</h2>
<h3>{{ Cuidamos de Raposas }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Lucas Sousa Silva, Guilherme Bergamo, Guilherme ruiz, Murilo Ruiz, Mateus Bastos</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
